
body {
    background-color: #f5f8ff;
  }
   .wrapper {
    width: 95%;
    margin: 0 auto;
  } 
  
  #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  } 
  
  #search-container input:focus {
    border-bottom-color: #6759ff;
  } 
  
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  } 
  
  
  .container{
  background-color: rgba(230, 115, 230, 0.952);
  margin-bottom: 20px;
  border-radius: 15px;

  }
  div.h1{
    font-size: 20px;
    text-align: center;
    background-color: deeppink;
  }
  
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
  }